*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #3A4965;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.table-container{
    color: #484848;
    margin-top: 10px;
}

.main-table{
    width: 1140px;
    height: 684px;
    background-color: #fff;
    text-align: center;
    font-family: Arimo;
    box-sizing: border-box;
    border-collapse: collapse;
    text-transform: uppercase;
}

.main-table th, .main-table td, .main-table tfoot{
    width: 285px;
    height: 75px;
}

.main-table td{
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    position: relative;
}

.tittle-container{
    border-right: 1px solid rgba(0, 0, 0, 0.15);
}

.header-tittle{
    font-size: 18px;
}

.header-tittle span{
    font-size: 30px;
}

.green-th{
    background-color: #89C331;
    color: #FFF;
}

.green-th p{
    font-size: 24px;
}

.red-th{
    background-color: #F04A56;
    color: #FFF;
}

.red-th p{
    font-size: 30px;
}

.blue-th{
    background-color: #20807C;
    color: #FFF;
}

.blue-th p{
    font-size: 24px;
}

.price-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.row2-price{
    width: 101px;
    font-size: 60px;
    font-weight: 700;
    position: relative;
}

.row2-price span{
    position: absolute;
    font-size: 24px;
    transform: translateY(-16%);
}

.row2-subtittle{
    width: 136px;
    font-size: 18px;
}

/* загальне для рядків */

.row .icon{
    position: relative;
    display: inline-block;
}

.row .tittle-icon{
    margin-top: -15px;
}

/* третій рядок */

.table-row3{
    background-color: #F2F2F2;
}

.table-row3 .icon::before{
    content: "";
    position: absolute;
    background-image: url(../images/storage.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 21px;
    height: 26px;
    left: -65px;
    top: -12px;
}

/* четвертий рядок */

.table-row4{
    background-color: #E3E3E3;
}

.table-row4 .icon::before{
    content: "";
    position: absolute;
    background-image: url(../images/bandwidth.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 27px;
    height: 28px;
    left: -80px;
    top: -13px;
}

/* п'ятий рядок */

.table-row5{
    background-color: #F2F2F2;
}

.table-row5 .icon::before{
    content: "";
    position: absolute;
    background-image: url(../images/email.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 22px;
    height: 18px;
    left: -51px;
    top: -13px;
}

/* шостий рядок */

.table-row6{
    background-color: #E3E3E3;
}

.table-row6 .icon::before{
    content: "";
    position: absolute;
    background-image: url(../images/support.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 23px;
    height: 26px;
    left: -65px;
    top: -17px;
}

/* сьомий рядок */

.table-row7{
    background-color: #F2F2F2;
}

.table-row7 .icon::before{
    content: "";
    position: absolute;
    background-image: url(../images/products.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 25px;
    left: -73px;
    top: -17px;
}

/* восьмий рядок */

.table-row8{
    background-color: #E3E3E3;
}

.table-row8 .icon::before{
    content: "";
    position: absolute;
    background-image: url(../images/users.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    left: -59px;
    top: -20px;
}

/* нижній рядок */

.footer-row{
    height: 120px;
}

.dark-grey{
    background-color: #ddd;
}

.light-grey{
    background-color: #eee;
}

.white{
    background-color: #f4f4f4;
}

/* кнопки */

.btn{
    width: 195px;
    height: 45px;
    color: #FFF;
    border: none;
    border-radius: 5px 5px 0 0;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    padding-top: 11px;
    cursor: pointer;
}

.contact-btn{
    background-color: #484848;
}

.contact-btn::after{
    content: '';
    display: inline-block;
    background-color: #404040;
    border-radius: 0px 0px 5px 5px;
    position: absolute;
    width: 100%;
    height: 9px;
    bottom: -9px;
    left: 0;
}

.buy-btn-green{
    background-color: #89C331;
}

.buy-btn-green::after{
    content: '';
    display: inline-block;
    background-color: #79B027;
    border-radius: 0px 0px 5px 5px;
    position: absolute;
    width: 100%;
    height: 9px;
    bottom: -9px;
    left: 0;
}

.buy-btn-red{
    background-color: #F04A56;
}

.buy-btn-red::after{
    content: '';
    display: inline-block;
    background-color: #DF3A46;
    border-radius: 0px 0px 5px 5px;
    position: absolute;
    width: 100%;
    height: 9px;
    bottom: -9px;
    left: 0;
}

.buy-btn-blue{
    background-color: #20807C;
}

.buy-btn-blue::after{
    content: '';
    display: inline-block;
    background-color: #16736F;
    border-radius: 0px 0px 5px 5px;
    position: absolute;
    width: 100%;
    height: 9px;
    bottom: -9px;
    left: 0;
}

/* друга таблиця */

.second-table{
    background-color: #fff;
    text-align: center;
    font-family: Arimo;
    box-sizing: border-box;
    border-collapse: collapse;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
}

.second-table tr{
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.second-table th, .second-table td{
    width: 200px;
    height: 100px;
}

.odd-data, .even-data{
    position: relative;
}

.odd-data{
    background-color: #F2F2F2;
}

.even-data{
    background-color: #E3E3E3;
}

.header-row{
    font-size: 20px;
    position: relative;
    width: 200px;
}

.header-row main{
    height: 200px;
}

.header-tittle1{
    font-size: 14px;
}

.header-tittle1 span{
    font-size: 20px;
}

/* картинки */

.header-row th .icon{
    position: relative;
    display: inline-block;
}

.storage .icon::before{
    content: "";
    position: absolute;
    background-image: url(../images/storage.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 21px;
    height: 26px;
    left: -12px;
    top: -15px;
}

.bandwidth .icon::before{
    content: "";
    position: absolute;
    background-image: url(../images/bandwidth.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 26px;
    height: 19px;
    left: -11px;
    top: -15px;
}

.email .icon::before{
    content: "";
    position: absolute;
    background-image: url(../images/email.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 22px;
    height: 18px;
    left: -11px;
    top: -14px
}

.support .icon::before{
    content: "";
    position: absolute;
    background-image: url(../images/support.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    left: -11px;
    top: -17px;
}

.products .icon::before{
    content: "";
    position: absolute;
    background-image: url(../images/products.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 23px;
    left: -11px;
    top: -16px;
}

.users .icon::before{
    content: "";
    position: absolute;
    background-image: url(../images/users.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 23px;
    height: 22px;
    left: -11px;
    top: -16px;
}

.header-row{
    margin-bottom: 10px;
}

.header-row::after{
    content: '';
    width: 100%;
    height: 10px;
    color: transparent;
}

.table-content{
    margin-top: 10px;
}

.table-content tr{
    height: 165px;
}

.even-col{
    background-color: #E3E3E3;
}

.odd-row{
    background-color: #F2F2F2;
}

.green-price, .red-price, .blue-price{
    color: #fff;
}

.price-type{
    width: 200px;
    font-weight: 700;
    font-size: 24px;
}

.text-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 180px;
}

.price-number{
    position: relative;
    font-weight: 700;
    font-size: 36px;
    width: 95px;
}

.price-number span{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 18px;
    font-weight: 700;
}

.price-period{
    font-size: 14px;
}

.green-price{
    background-color: #89C331;
}

.red-price{
    background-color: #F04A56;
}

.blue-price{
    background-color: #20807C;
}

.buy-btn2-black{
    width: 147px;
    height: 40px;
    position: relative;
    margin-top: 15px;
    background-color: #414141;
    color: #fff;
}

.buy-btn2-black::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 8px;
    bottom: -8px;
    left: 0;
    background-color: #343434;
    border-radius: 0px 0px 5px 5px;
    display: inline-block;
}

.even-col p, .odd-row p{
    line-height: 28px;
}